<html>
<head>
   <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/login.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="signup">
  <div class="container">
    <img id="logo" src="http://www.lighthouselabs.ca/static-assets/lighthouse-labs.png">

    <div class="form">

    <h1>Welcome Back!</h1>

      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.email_field :email, :placeholder => "Email" %>
        <%= f.password_field :password, :placeholder => "Password" %>
        <%= f.submit "Login", class: "btn-submit" %>
      <% end %>

    </div>

  </div>
</div>
  </body>
  </html>
